body {
	box-sizing: border-box;
	text-align: center;
	font-family: "Helvetica", Arial, sans-serif;
}

header, .input, .output {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.images {
	display: inline-block;
	margin: 2em;
}

.happyface {
	width: 11em;
}

.logo {
	width: 25em;
}

h1 {
	margin: 0;
	font-size: 4em;
}

input[type='text'] {
	outline: none;
	padding: 1em;
	margin: 1em;
	width: 25%;
}

input[type='text']:focus {
	border: solid 1px black;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	display: inline-block;
	padding: 1em;
	cursor: pointer;
}

input[type='radio']:checked + label{
	background-color: gray;
}

span {
	text-decoration: underline;
}

.output {
	text-align: justify;
	margin-top: 2em;
	width: 60%;
	line-height: 2em;
}