<!DOCTYPE html>
<html lang="en" ng-app="madLibs">
<head>
	<meta charset="UTF-8">
	<title>Angular Mad Libs</title>
	<link rel="stylesheet" href="css/styles.css">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10"  src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script src="js/madLibs.js"></script>
</head>
<body ng-controller="madController">

	<header>
		<div class="images">
			<img src="img/mad-lib-happy-face.png" alt="Mad Lib Smiley" class="happyface">
		</div>
		<div class="images">
			<img src="img/ng-mad-libs-logo.png" alt="Mad Lib Logo" class="logo">
			<h1>Automate This!</h1>
		</div>
	</header>

	<div class="input" ng-show="display == 0">
		<form name="myForm" novalidate ng-submit="submit()">
			<h3>Select a gender:</h3> 
				<input name="male" id="male" type="radio" ng-model="gender" ng-click="male()" value="male" required /><label for="male">Male</label>
				<input name="female" id="female" type="radio" ng-model="gender" ng-click="female()" value="female" required /><label for="female">Female</label>
			<span class="error" ng-if="myForm.$submitted && myForm.gender.$error.required">You forgot to select a gender!!</span>

			<h3>Provide the following words:</h3>
			<ul class="words-input">
				<li>
					<input type="text" name="name" placeholder="name" ng-model="name" required />
					<span class="error" ng-if="myForm.$submitted && myForm.name.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="text" name="jobTitle" placeholder="job title" ng-model="jobTitle" required />
					<span class="error" ng-if="myForm.$submitted && myForm.jobTitle.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="text" name="tediousTask" placeholder="tedious task" ng-model="tediousTask" required />
					<span class="error" ng-if="myForm.$submitted && myForm.tediousTask.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="text" name="dirtyTask" placeholder="dirty task" ng-model="dirtyTask" required />
					<span class="error" ng-if="myForm.$submitted && myForm.dirtyTask.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="text" name="celebrity" placeholder="celebrity name" ng-model="celebrity" required />
					<span class="error" ng-if="myForm.$submitted && myForm.celebrity.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="text" name="uselessSkill" placeholder="useless skill" ng-model="uselessSkill" required />
					<span class="error" ng-if="myForm.$submitted && myForm.uselessSkill.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="text" name="adjective" placeholder="adjective" ng-model="adjective" required />
					<span class="error" ng-if="myForm.$submitted && myForm.adjective.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="text" name="obnoxiousCelebrity" placeholder="obnoxious celebrity name" ng-model="obnoxiousCelebrity" required />
					<span class="error" ng-if="myForm.$submitted && myForm.obnoxiousCelebrity.$error.required">Field is Required!</span>
				</li>
				<li>
					<input type="number" name="hugeNumber" placeholder="enter a huge number" ng-model="hugeNumber" required />
					<span class="error" ng-if="myForm.$submitted && myForm.hugeNumber.$error.required">A number is Required!</span>
				</li>
			</ul>

				<div class="submit-container">
					<input type="submit" value="Generate Mad Lib" 	/>
				</div>
			</form>
	</div>

	<div class="output" ng-show="display == 1">

		<span>{{name}}</span> was a <span>{{jobTitle}}</span> who loved technology. Although {{heShe}} loved parts of {{hisHer}} job, {{heShe}} absolutely hated <span>{{tediousTask}}</span> and <span>{{dirtyTask}}</span>. So, <span>{{name}}</span> met with {{hisHer}} life mentor <span>{{celebrity}}</span> who told {{himHer}} to learn how to <span>{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span>{{uselessSkill}}</span> so {{heShe}} studied programming instead. 
 
		What a great decision! With {{hisHer}} new skills, <span>{{name}}</span> built a(n) <span>{{adjective}}</span> robot named <span>{{obnoxiousCelebrity}}</span> that not only loved <span>{{dirtyTask}}</span> but did it <span>{{hugeNumber}}</span> faster. 
			
		<div class="submit-container">
			<input class="reset" type="submit" ng-click="reset()" value="Reset Mad Lib" />
		</div>
	</div>
</body>
</html>